.solaris-deck-item {
    user-select: none;
}

    .solaris-deck-item:hover {
        cursor: pointer;
        background-color: var(--mud-palette-table-hover);
    }

.solaris-deck-item-header {
    user-select: none;
}

.name {
    width: 11%;
}

.name-header {
    width: 11%;
    text-align: center;
}

.factions {
    width: 10%;
    text-align: center;
}

.factions-header {
    width: 10%;
    text-align: center;
}

.type {
    width: 11%;
    text-align: center;
}
.type-header {
    width: 11%;
    text-align: center;
}

.resourceCostIcon {
    width: 5%;
    text-align: center;
}

.resourceCostIcon-header {
    width: 5%;
    text-align: center;
}

.talentIcon {
    width: 5%;
    text-align: center;
}
.talentIcon-header {
    width: 5%;
    text-align: center;
}

.av {
    width: 7%;
    text-align: center;
}

.av-header {
    width: 7%;
    text-align: center;
}

.hv {
    width: 7%;
    text-align: center;
}

.hv-header {
    width: 7%;
    text-align: center;
}

.ability {
    width: 44%;
    text-align: justify;
    padding-left: 10px;
}

.ability-header {
    width: 44%;
    text-align: center;
}

.deckItemName {
    width: 80%;
}

.deckItemQuantity {
    width: 20%; 
    text-align: center;
}

.img {    
    max-width: 200px;
    min-width: 100px;
}