.solaris-deck-item {
    user-select: none;
}

    .solaris-deck-item:hover {
        cursor: pointer;
        background-color: var(--mud-palette-table-hover);
    }

.resourceCostIcon {
    width: 40px;
}

.talentIcon {
    width: 40px;
}